<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipselabs.guita.category"
            class="org.eclipselabs.guita.uitrace.view.TraceView"
            icon="icons/icon.gif"
            id="org.eclipselabs.guita.uitrace.view"
            name="GUI Trace">
      </view>
      <category
            id="org.eclipselabs.guita.category"
            name="GUITA">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipselabs.guita.uitrace.view?after=additions">
         <command
               commandId="org.eclipselabs.guita.uitrace.view.clear"
               icon="icons/delete.gif"
               label="Clear"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipselabs.guita.uitrace.view.ClearCommand"
            id="org.eclipselabs.guita.uitrace.view.clear"
            name="Clear">
      </command>
   </extension>
</plugin>
