<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipselabs.guita.ipreviews.actions.PreviewCommand"
            id="ipreviews.preview"
            name="Preview">
      </command>
      <command
            defaultHandler="org.eclipselabs.guita.ipreviews.handler.GetInfo"
            id="ipreview.GetInfo"
            name="Get Info">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="testeMenu"
               label="Teste">
            <command
                  commandId="ipreview.GetInfo"
                  label="GetInfo"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:guidesign.previewview">
         <command
               commandId="ipreviews.preview"
               label="PREV"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.ui"
            class="org.eclipselabs.guita.ipreviews.view.PreviewView"
            id="guidesign.previewview"
            name="PreviewView"
            restorable="true">
      </view>
   </extension>

</plugin>
