<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="pt.iscte.dcti.umlviewer.network.handlers.SignalHandler"
            id="pt.iscte.dcti.umlviewer.network.commands.SignalCommand"
            name="Signal">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
         <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipselabs.jmodeldiagram.view">
         <command
               commandId="pt.iscte.dcti.umlviewer.network.commands.SignalCommand"
               icon="icons/record_icon.jpg"
               label="Signal UI"
               style="toggle"
               tooltip="Toggle to start/stop recording">
         </command>
      </menuContribution>
   </extension>

</plugin>
