<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               id="org.eclipselabs.guita.paintwidgets.MENU"
               label="Paint">
            <command
                  commandId="org.eclipselabs.guita.paintwidgets.red"
                  label="Red"
                  style="push">
            </command>
            <command
                  commandId="org.eclipselabs.guita.paintwidgets.blue"
                  label="Blue"
                  style="push">
            </command>
            <command
                  commandId="org.eclipselabs.guita.paintwidgets.green"
                  label="Green"
                  style="push">
            </command>
            <command
                  commandId="org.eclipselabs.guita.paintwidgets.yellow"
                  label="Yellow"
                  style="push">
            </command>
            <command
                  commandId="org.eclipselabs.guita.paintwidgets.pink"
                  label="Pink"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipselabs.guita.paintwidgets.ViewTable">
         <command
               commandId="org.eclipselabs.guita.paintwidgets.remove"
               icon="icons/delete.gif"
               label="Remove from Table"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipselabs.guita.paintwidgets.PaintCommand"
            id="org.eclipselabs.guita.paintwidgets.red"
            name="Red">
      </command>
      <command
            defaultHandler="org.eclipselabs.guita.paintwidgets.PaintCommand"
            id="org.eclipselabs.guita.paintwidgets.blue"
            name="Blue">
      </command>
      <command
            defaultHandler="org.eclipselabs.guita.paintwidgets.PaintCommand"
            id="org.eclipselabs.guita.paintwidgets.green"
            name="Green">
      </command>
      <command
            defaultHandler="org.eclipselabs.guita.paintwidgets.PaintCommand"
            id="org.eclipselabs.guita.paintwidgets.yellow"
            name="Yellow">
      </command>
      <command
            defaultHandler="org.eclipselabs.guita.paintwidgets.PaintCommand"
            id="org.eclipselabs.guita.paintwidgets.pink"
            name="Pink">
      </command>
      <command
            defaultHandler="org.eclipselabs.guita.paintwidgets.UnpaintCommand"
            id="org.eclipselabs.guita.paintwidgets.remove"
            name="Remove">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.eclipselabs.guita.paintwidgets.view.ViewTable"
            icon="icons/icon.gif"
            id="org.eclipselabs.guita.paintwidgets.ViewTable"
            name="Marked Widgets"
            restorable="true">
      </view>
   </extension>

</plugin>
