<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Produtor Fragmentos"
            id="ProdutorFragmentos">
      </category>
      <view
            allowMultiple="false"
            category="ProdutorFragmentos"
            class="pt.iscte.dcti.umlviewer.view.UMLViewer"
            icon="icons/sample.gif"
            id="pt.iscte.dcti.umlviewer.viewer"
            name="UML Viewer">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:pt.iscte.dcti.umlviewer.view.UMLViewer">
         <command
               commandId="pt.iscte.dcti.umlviewer.commands.command1"
               icon="src/pt/iscte/dcti/umlviewer/view/images/Remove.png"
               label="Incremental"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="pt.iscte.dcti.umlviewer.view.Comando1"
            id="pt.iscte.dcti.umlviewer.commands.command1"
            name="Comando1">
      </command>
   </extension>

</plugin>
