<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="pt.guita.tasks.actions"
            targetID="org.eclipse.mylyn.tasks.ui.views.tasks">
         <action
               class="pt.guita.tasks.NextAction"
               icon="icons/dep_loop.gif"
               id="MylynExtension.action2"
               label="Next"
               style="push"
               toolbarPath="additions">
         </action>
         <action
               class="pt.guita.tasks.FirstAction"
               icon="icons/first.gif"
               id="MylynExtension.action1"
               label="First"
               style="push"
               toolbarPath="additions">
         </action>
         <action
               class="pt.guita.tasks.Rec"
               icon="icons/rec.gif"
               id="pt.guita.tasks.action1"
               label="Start/Stop recording"
               style="toggle"
               toolbarPath="additions">
         </action>
      </viewContribution>
   </extension>

</plugin>
