<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipselabs.guita.rtmod.StartListenerCommand"
            id="startsocket"
            name="Enable GUITA RT-mod">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="org.eclipselabs.guita.rtmod.toolbar1">
            <command
                  commandId="startsocket"
                  icon="icons/sample.gif"
                  label="Start GUITA RT-mod"
                  style="toggle">
            </command>
         </toolbar>
      </menuContribution>
   </extension>


</plugin>
