<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Produtor Fragmentos"
            id="ProdutorFragmentos">
      </category>
      <view
            allowMultiple="false"
            category="ProdutorFragmentos"
            class="pt.iscte.dcti.umlviewer.view.UMLViewer"
            icon="icons/sample.gif"
            id="pt.iscte.dcti.umlviewer.viewer"
            name="UML Viewer">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:pt.iscte.dcti.umlviewer.viewer">
         <command
               commandId="pt.iscte.dcti.umlviewer.network.commands.SignalCommand"
               icon="icons/record_icon.jpg"
               label="Recording Toggle"
               style="toggle"
               tooltip="Toggle to start/stop recording">
         </command>
         <command
               commandId="pt.iscte.dcti.umlviewer.command1"
               icon="icons/Remove.png"
               label="Clear diagram"
               style="push"
               tooltip="Clear all diagram content">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="pt.iscte.dcti.umlviewer.handlers.Command1"
            id="pt.iscte.dcti.umlviewer.command1"
            name="Clear">
      </command>
   </extension>

</plugin>
